*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

header
{
    display: flexbox;
    margin-top: 3vh;
    margin-bottom: 3vh;
    justify-items: center;
    align-items: center;
    min-height: 11vh;

    color: white;
}

#shoppingCartImage
{
    width: 100px;
}

body
{
    display: flexbox;
    min-height: 100vh;
    justify-items: center;

    background: linear-gradient(45deg, #01ffb3, #422dfc);
}

.listTitle
{
    font-weight: 700;
    font-family: 'Segoe UI';
    font-size: x-large;
    color: white;
    width: 16.4em;
    margin-bottom: 0.66em;
    background-color: rgba(0,0,0,0);
    border-top: rgba(0,0,0,0);
    border-left: rgba(0,0,0,0);
    border-right: rgba(0,0,0,0);
}

.container
{
    padding: 1.66em;
    width: 28em;

    border-radius: 1.66em;

    background-color: rgba(0, 29, 124, 0.411);
    color: white;
}

.subitem_list
{
    margin-top: 0.33em;
    margin-left: 4em;
}

.item, .recipe
{
    margin-bottom: 0.66em;
    margin-top: 0.66em;
}

.recipeName, .subitemName, .itemName
{
    background-color: rgba(0, 0, 90, 0.411);
    border: rgba(0,0,0,0);
    color: white;
    font-size: medium;
}

.recipeName
{
    width: 18.28em;
}
.subitemName
{
    width: 15.93em;
}
.itemName
{
    width: 19.93em;
}

.quantity
{
    width: 4em;
}

.externalActions button
{
    margin-top: 6em;
    margin-left: 0.8em;
    margin-right: 0.8em;
}

h2
{
    margin-bottom: 1em;
}

button, input
{
    background-color: white;
    min-width: 1.66em;

    padding-left:   0.5em;
    padding-right:  0.5em;
    padding-top:    0.166em;
    padding-bottom: 0.166em;
}

button
{
    background-color: cornsilk;
}

/* Disable bullets in list */
ol {list-style-type: none;}